!!!
%html
	%head
		%script{ :src => '/javascript/jquery-1.7.2.min.js' }
		%script{ :src => '/javascript/jquery.color.js' }
		%script{ :src => '/javascript/jquery-ui-1.8.21.custom.min.js' }
		%script{ :src => '/javascript/updater.js' }
		%link{ :type => 'text/css', :rel => 'stylesheet', :href => '/stylesheets/updater.css' }
		%link{ :type => 'text/css', :rel => 'stylesheet', :href => '/stylesheets/smoothness/jquery-ui-1.8.21.custom.css' }
	%body{ :onload => "Updater.init()" }
		%h1 Wallpaper changer
		.rotation-interval
			%form{ :action => '/interval', :method => 'POST' }
				%label{ :for => 'interval' } Rotation interval: 
				%input{ :name => 'interval', :id => 'interval' }
		.add-folder
			%form{ :action => '/add', :method => 'POST' }
				%label{ :for => 'folder' } Add an image directory: 
				%input{ :name => 'folder', :id => 'folder' }
		#wallpapers
